@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
body {
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.home-page h1{
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  text-shadow: 0 0 10px rgb(79, 196, 250), 2px 2px 2px #000;
  position: relative;
  font-size: 80px;
  bottom:15%;
}

.home-page p{
  position: relative;
  font-size: 20px;
  bottom:15%;
  font-weight: bold;
  color:rgb(88, 88, 88);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}


.button {
  background-color: #ff8c00;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
  transform: translateY(-3px);
  background-color: #ffad33;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  }
  
  .button:active {
  transform: translateY(1px);
  background-color: #ffa31a;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  position: relative;
  bottom: 10%;
}


/*button.back-button {
  background-color: #eaeaea;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button.back-button:hover {
  background-color: #ccc;
}*/










